.full-window-height {
  height: 99vh;
  /* TODO need media query to change this
      and make it smaller on a smaller screen
      to leave room for a header containing
      a button to toggle the side menu
  */
}

body {
  width: 99vw;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  background: black;
}

#map-area {
  padding-left: 0;
}

#map {
  height: 100%;
}

.square-corners {
  border-radius: 0;
}

.input-group {
  width: 100%;
}

nav {
  padding-right: 0;
  background: black;
}
